body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #f06, #f79d00);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
h1{
  color: white;
}
/* Container for the login form with animated background */
.login-container {
  width: 300px;
  padding: 20px;
  border: 1px solid white;
  box-shadow: 0 3px 8px rgb(255, 255, 255);
  border-radius: 8px;
  text-align: center;
  background: linear-gradient(135deg, #ff9a9e, #f97f5d, #845a4e);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
}
@keyframes gradient-animation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
/* Login form heading */
.login-container h1 {
  margin-bottom: 20px;
  font-size: 24px;
}
/* Styling for the username input field */
#username-input {
  width: 93%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}
/* Styling for the login button */
#login-button {
  width: 100%;
  padding: 10px;
  background-color: rgb(223, 0, 63);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
#login-button:hover {
  background-color: #f47114;
  border: 1px solid white;
    box-shadow: 0 3px 8px rgb(255, 255, 255);
}
#username-input:focus {
  box-shadow: 0 3px 3px rgb(255, 255, 255);
  outline: none;
}
/* Chat container styling */
.chat-container {
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid white;
  box-shadow: 0 3px 8px rgb(255, 255, 255);
  border-radius: 5px;
  background: linear-gradient(135deg, #6dd5ed, #2193b0);
  background-size: 200% 200%;
  animation: chat-gradient-animation 4s ease infinite;
}
@keyframes chat-gradient-animation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
/* Chat header styling */
.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.user-info {
  display: flex;
  align-items: center;
}
#welcome-message {
  margin-right: 20px;
  font-size: 16px;
  font-weight: bold;
  color: white;
}
/* Logout button styling */
#logout-button {
  padding: 10px 20px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#logout-button:hover{
  background-color: #f47114;
  border: 1px solid white;
    box-shadow: 0 3px 8px rgb(255, 255, 255);
}
/* Chat history container */
.chat-history {
  height: 300px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px; 
  border: 2px solid #f1f1f1; 
}
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
/*message styling */
.message {
  margin-bottom: 12px;
  padding: 12px 18px;
  border-radius: 18px;
  position: relative;
  max-width: 65%;
  word-wrap: break-word;
  font-size: 14px;
  line-height: 1.5;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.message.user {
  background-color: #cbf3fe;
  color: #065f73;
  text-align: right;
  margin-left: auto;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 18px;
}
.message.other {
  background-color: #dbdbdb;
  color: #333;
  text-align: left;
  margin-right: auto;
  border-top-left-radius: 18px;
  border-bottom-right-radius: 18px;
  border-bottom-left-radius: 10px;
}
.username-opacity {
  opacity: 0.3; 
}
.message.user::after {
  content: '';
  position: absolute;
  right: -9px;
  top: 50%;
  width: 0;
  height: 0;
  border-left: 10px solid #cbf3fe;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  transform: translateY(-50%);
}

.message.other::after {
  content: '';
  position: absolute;
  left: -9px;
  top: 50%;
  width: 0;
  height: 0;
  border-right: 10px solid #dbdbdb;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  transform: translateY(-50%);
}

.messageBox {
  margin-top: 10px;
  width: 470px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  padding: 0 15px;
  border-radius: 10px;
}
.messageBox:focus-within {
  border: none; 
}
#messageInput {
  width: 100vh;
  height: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  color: rgb(6, 126, 129);
  font-size: 16px;
}
#sendButton {
  width: fit-content;
  height: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s;
}
#sendButton svg {
  height: 18px;
  transition: all 0.3s;
}